/* Escribe acá tus estilos*/
*{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
	color: #A52A2A;

}
body{
	background-color: #A52A2A;
	background-image: url(../img/te-header.jpg);
}
header{
	text-align: center;
	background-image: 10%;
	height: 300px;
}
 h1{
	font-size: 50px;
	color: #A52A2A;
	text-shadow: -6px 6px 26px #000 solid;
}

#formulario{
	text-align: left;
	margin-top: 20px;
	font-size: 18px;
	background-color: #DEB887;
	padding: 20px;
	
}




